.about {
  padding-top: 0;
  overflow: hidden;
  &__container {
  }
  &__list {
    padding: 28rem 0 20rem;
    display: flex;
    justify-content: space-around;
    color: $greyColor;
    position: relative;
    z-index: 0;
    @media (max-width: $sm) {
      padding: 10rem 0;
      flex-wrap: wrap;
    }
    &:before {
      background: $accentColor;
      width: 100vw;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -1;
    }
  }
  &__card {
    max-width: 33.33%;
    padding: 0 40rem;
    text-align: center;
    flex: 0 0 33.33%;
    @media (max-width: $sm) {
      max-width: 100%;
      padding: 15rem;
      flex-basis: 100%;
    }
    &:not(:last-child) {
      border: 0 solid currentColor;
      border-width: 0 1px 0 0;
      @media (max-width: $sm) {
        border-width: 0 0 1px 0;
      }
    }
    &-content {
      max-width: 240rem;
      margin: 0 auto;
    }
    &-title {
      margin: 0 0 var(--vr-4);
    }
    &-text {
      line-height: $lineHeight3;
      color: $whiteColor;
    }
  }
  &__main {
    width: 100%;
    max-width: 348rem;
    margin: 364rem auto 284rem;
    position: relative;
    @media (max-width: $lg) {
      margin: 240rem auto 94rem;
    }
    @media (max-width: $sm) {
      max-width: 220rem;
      margin-bottom: 180rem;
    }
    &-title-wrapper {
      width: 100vw;
      max-width: 1440rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
      @media (max-width: $sm) {
      }
      &:before {
        background: $gradientGreyRadial1;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
    &-title {
      font-weight: bold;
      font-size: var(--fs-10);
      text-align: center;
      color: transparent;
      pointer-events: none;
      user-select: none;
      &:before,
      &:after {
        width: 100%;
        display: flex;
        content: attr(data-title);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
      }
      &:before {
        background: radial-gradient(53.62% 53.62% at 50% 50%, rgba(241, 245, 255, 0) 0%, #F1F5FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        left: 0;
      }
      &:after {
        left: -1px;
        color: rgba($fontColor, .2);
        z-index: -1;
      }
    }
  }
  &__hero {
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__services {
    counter-reset: aboutCounter;
    &-card {
      background: rgba($blueLightColor, .1);
      backdrop-filter: blur(18px);
      width: 312rem;
      padding: 32rem 24rem;
      display: flex;
      counter-increment: aboutCounter;
      border: 1px solid rgba($blueLightColor, .1);
      border-radius: var(--radius-sm);
      text-transform: uppercase;
      position: absolute;
      z-index: 2;
      @media (max-width: $sm) {
        width: 240rem;
        padding: 20rem 14rem;
      }
      &:nth-child(1) {
        top: -19%;
        left: -64.5%;
        z-index: 0;
        @media (max-width: $sm) {
          top: -34%;
          left: -22%;
        }
      }
      &:nth-child(2) {
        top: 31%;
        left: 87%;
        @media (max-width: $sm) {
          top: 40%;
          right: -60rem;
          left: initial;
        }
      }
      &:nth-child(3) {
        top: 77.1%;
        left: -54.7%;
        @media (max-width: $sm) {
          top: 108%;
          left: -10%;
        }
      }
      &:before {
        content: counter(aboutCounter);
        margin: 0 3rem 0 0;
        flex: 0 0 20rem;
        @media (max-width: $sm) {
          flex-basis: 16rem;
        }
      }
      &-title {
        margin: 0;
        font-weight: normal;
        font-size: var(--fs-default);
        line-height: $lineHeight2;
        text-transform: uppercase;
      }
    }
  }
  &__footer {
    padding-bottom: 100rem;
    display: flex;
    justify-content: center;
    @media (max-width: $lg) {
      padding-bottom: 74rem;
    }
    @media (max-width: $sm) {
      padding-bottom: 50rem;
    }
  }
}