.clients {
  padding: var(--vr-section-y-1) 0;
  &__container {
  }
  &__clients-happy {
    width: fit-content;
    margin: 0 auto 32rem;
  }
  &__title {
    max-width: 800rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &__subtitle {
    max-width: 800rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &__title {
  }
  &__subtitle {
  }
  &__marquee {
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    &-list {
      height: 378rem;
      margin: 0 0 164rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      @media (max-width: $lg) {
        margin-bottom: 134rem;
      }
      @media (max-width: $sm) {
        height: 202rem;
        margin-bottom: 94rem;
      }
    }
    &:nth-child(1) {
      top: 0;
      .u-marquee__col {
      }
    }
    &:nth-child(2) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(3) {
      bottom: 0;
      .u-marquee__row {
        margin-left: -380rem;
      }
    }
  }
  &__author {
    &-row {
    }
    &-col {
      &--media {
        align-self: flex-end;
        @media (max-width: $sm) {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
      &--content {
        @media (max-width: $sm) {
          max-width: 100%;
          flex-basis: 100%;
          margin-bottom: var(--gap-container);
          order: -1;
        }
      }
    }
    &-media {
      margin: 0 0 calc(-1 * var(--vr-section-y-1));
      position: relative;
      z-index: 0;
    }
    &__schema-bg {
      width: 814rem;
      height: 756rem;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: none;
      user-select: none;
      z-index: -24;
      @media (max-width: $lg) {
        width: calc(814rem * 0.8);
        height: calc(756rem * 0.8);
      }
      @media (max-width: $sm) {
        width: calc(814rem * 0.5);
        height: calc(756rem * 0.5);
      }
    }
    &-hero {
      max-width: 386rem;
      pointer-events: none;
      user-select: none;
      @media (max-width: $lg) {
        max-width: 270rem;
      }
      @media (max-width: $sm) {
        max-width: 220rem;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-content {
      @media (min-width: $md-mf) {
        padding: 84rem 0 0;
      }
    }
    &-text {
    }
  }
}