.footer {
  padding: 72rem 0 90rem;
  border-top: 1px solid $blueDarkColor;
  color: $blueLightColor;
  line-height: $lineHeight4;
  @media (max-width: $sm) {
    padding: var(--vr-section-y-1) 0;
  }
  &__container {
  }
  &__row {
    justify-content: space-between;
    flex-wrap: nowrap;
    @media (max-width: $sm) {
      row-gap: var(--gap-container);
      flex-wrap: wrap;
    }
  }
  &__col {
    max-width: 33.33%;
    @media (max-width: $sm) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  &__title {
    margin: 0 0 24rem;
    font-weight: bold;
    color: $blueDarkColor;
    text-transform: none;
    @media (max-width: $sm) {
      margin-bottom: 15rem;
    }
  }
  &__content {
    a {
      color: inherit;
    }
  }
  &__nav {
    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &-item {
      margin: 0;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 16rem;
        @media (max-width: $sm) {
          margin-bottom: 10rem;
        }
      }
    }
    &-link {
      @extend %area-click;
      transition: $transition;
      transition-property: color;
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          color: $accentColor;
        }
      }
    }
  }
}