.intro {
  padding: var(--vr-section-y-2) 0 var(--vr-section-y-1);
  position: relative;
  &__container {
  }
  &__row {
  }
  &__col {
    &--content {
    }
    &--media {
      align-self: flex-end;
    }
  }
  &__content {
    padding-top: 100rem;
  }
  &__suptitle {
    margin: 0 0 var(--vr-1);
    font-weight: 800;
    font-size: var(--fs-8);
    letter-spacing: $lt1;
    text-transform: uppercase;
  }
  &__title {
    margin: 0 0 var(--vr-12);
  }
  &__desctiption {
    max-width: 660rem;
    margin: 0 0 var(--vr-2);
    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
  &__btn-group {
    margin: 0 0 var(--vr-3);
  }
  &__clients-happy {
  }
  &__media {
    margin: 0 -36rem calc(-1 * var(--vr-section-y-2)) -98rem;
    pointer-events: none;
    user-select: none;
  }
  &__hero {
    max-width: 534rem;
    margin-left: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}