.intro {
  padding: var(--vr-section-y-2) 0 var(--vr-section-y-1);
  position: relative;
  @media (max-width: $sm) {
    padding-bottom: 40rem;
  }
  &__container {
  }
  &__row {
  }
  &__col {
    &--content {
      @media (max-width: $sm) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &--media {
      align-self: flex-end;
      @media (max-width: $sm) {
        margin-bottom: 0 !important;
      }
    }
  }
  &__content {
    padding-top: 100rem;
    @media (max-width: $lg) {
      padding-top: 50rem;
    }
    @media (max-width: $sm) {
      padding-top: 30rem;
    }
  }
  &__suptitle {
    margin: 0 0 var(--vr-1);
    font-weight: 800;
    font-size: var(--fs-8);
    letter-spacing: $lt1;
    text-transform: uppercase;
  }
  &__title {
    margin: 0 0 var(--vr-12);
  }
  &__desctiption {
    max-width: 660rem;
    margin: 0 0 var(--vr-2);
    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
  &__btn-group {
    margin: 0 0 var(--vr-3);
  }
  &__clients-happy {
    @media (max-width: $sm) {
      display: inline-flex;
      flex-direction: column;
      text-align: center;
    }
    .clients-happy__avatar-list {
      @media (max-width: $sm) {
        margin-right: 0;
        margin-bottom: 20rem;
      }
    }
  }
  &__media {
    margin: 0 -36rem calc(-1 * var(--vr-section-y-1)) -98rem;
    pointer-events: none;
    user-select: none;
    @media (max-width: $sm) {
    }
  }
  &__hero {
    max-width: 534rem;
    margin-left: auto;
    @media (max-width: $sm) {
      width: 100%;
      max-width: 52%;
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}