.portfolio {
  padding-top: var(--vr-section-y-1);
  padding-bottom: var(--vr-section-y-1);
  &__container {
  }
  &__title {
    max-width: 800rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &__subtitle {
    max-width: 800rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &__slider {
    position: relative;
    .swiper-button {
      top: initial;
      bottom: 152rem;
      &-prev {
        right: initial;
        left: 64px;
      }
      &-next {
        right: initial;
        left: 104px;
      }
    }
    .slider-control {
      position: static;
    }
  }
  &__footer {
  }
}