.video-section {
  padding: var(--vr-section-y-1) 0;
  &__container {
  }
  &__title {
    max-width: 800rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &__subtitle {
    max-width: 800rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &__el {
  }
  &__footer {
  }
}