<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col footer__col">
        <p class="u-title fs-5 footer__title">UnternehmerPlus® GmbH</p>
        <div class="u-content footer__content">
          <p>Südstr. 15<br>99867 Gotha</p>
        </div>
      </div>
      <div class="row__col footer__col">
        <p class="u-title fs-5 footer__title">Kontakt</p>
        <div class="u-content footer__content">
          <p><a href="tel:036217365489">03621 - 736 5489</a><br><a href="mailto:anfrage@unternehmerplus.de">anfrage@unternehmerplus.de</a></p>
        </div>
      </div>
      <div class="row__col footer__col">
        <p class="u-title fs-5 footer__title">UnternehmerPlus® GmbH</p>
        <div class="footer__content">
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Start</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Was andere sagen</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Vermögenstipps</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Kontakt</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Nachhaltigkeit</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Steuern sparen</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Vermögen aufbauen</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Vermögen schützen</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Newsletter</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="js-anchor footer__nav-link">Termin</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>