<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <a href="#root" class="js-anchor header__logo">
        <picture class="header__logo-picture">
          <img src="images/logo.svg" width="164" height="54" alt="Philipp Lütje">
        </picture>
      </a>
      <div class="header__dropdown">
        <nav class="header__nav" role="navigation">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#about" class="js-anchor header__nav-link">Über uns</a>
            </li>
            <li class="header__nav-item">
              <a href="#about" class="js-anchor header__nav-link">Referenzen</a>
            </li>
            <li class="header__nav-item">
              <a href="#about" class="js-anchor header__nav-link">Angebot</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="btn btn--size-md btn--theme-accent-fill header__btn">
          <span class="btn__inner">
            <span class="btn__title">Set an Appointment</span>
          </span>
        </a>
      </div>
      <button type="button" class="js-header-toggle-open d-md-block btn-nav-toggle header__toggle">
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-open"></use>
        </svg>
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>