@import 'keyframes';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gap-container);
  &--size {
    &-md {
      max-width: $containerWidthMd;
    }
  }
}

.row {
  margin: 0 var(--gap-) var(--gap-container-);
  display: flex;
  flex-wrap: wrap;
  &__col {
    max-width: 100%;
    min-height: 1rem;
    margin-bottom: var(--gap-container);
    padding: 0 var(--gap);
    @for $i from 1 through 12 {
      &--#{$i} {
        @extend .row__col;
        max-width: percentage(math.div($i, 12));
        flex-basis: percentage(math.div($i, 12));
      }
    }
  }
}

.jc-sa {
  justify-content: space-around;
}