*,*:before,*:after{margin:0;padding:0;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted buttontext}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

html {
  font-size: $siteResolution;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: $bgSite;
  // background: url(../images/proba.jpg) center -49px no-repeat;
  // opacity: .4;
  font-style: normal;
  font-weight: $mainWeight;
  font-size: var(--fs-default);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  color: $fontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  &.is-lock {
    overflow: hidden;
  }
  &.is-menu-opened {
    @media (max-width: $lg) {
      overflow: hidden;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

input,
button,
select,
textarea,
.btn {
  font-weight: normal;
  font-size: inherit;
  font-family: $fontFamily;
  line-height: $lineHeightDefault;
  color: inherit;
}

input,
button {
  appearance: none;
}

picture,
time,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.u-title {
  margin-top: 0;
  font-style: normal;
  font-weight: 800;
  font-family: $fontFamily;
  text-transform: uppercase;
}
 
h1,
.fs-1 {
  font-size: var(--fs-1);
  line-height: $lineHeightDefault;
}

h2,
.fs-2 {
  font-size: var(--fs-2);
  line-height: $lineHeightDefault;
}

h3,
.fs-3 {
  font-size: var(--fs-3);
  line-height: $lineHeightDefault;
}

h4,
.fs-4 {
  font-size: var(--fs-4);
  line-height: $lineHeightDefault;
}

h5,
.fs-5 {
  font-size: var(--fs-5);
  line-height: $lineHeightDefault;
}

h6,
.fs-6 {
  font-size: var(--fs-6);
  line-height: $lineHeightDefault;
}

p {
  margin-top: 0;
}

svg,
.u-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  color: inherit;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important;
  padding: 0!important;
  position: absolute!important;
  border: 0!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  overflow: hidden!important;
}

#root {
  position: relative;
  overflow: clip;
}

.site {
  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &__header {
  }
  &__main {
  }
  &__footer {
    margin-top: auto;
  }
}

.color {
  &-black {
    color: $blackColor;
  }
  &-white {
    color: $whiteColor;
  }
  &-accent {
    color: $accentColor;
  }
  &-blue-light {
    color: $blueLightColor;
  }
}