@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($whiteColor, .6);
  }
  70% {
    box-shadow: 0 0 0 32rem rgba($whiteColor, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($whiteColor, 0);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-100%);
  }
}