$siteResolution: 1px;
$mainFont: 'Aeion Mono Test';
$mainWeight: 400;
$lineHeight1: 1.2;
$lineHeight2: 1.4;
$lineHeight3: 1.5;
$lineHeight4: 1.7;
$lineHeight5: 1;
$lineHeightDefault: $lineHeight1;
$lt1: .05em;

$containerWidthMd: 1296rem;

$gap: 12rem;
$gapFluid: 24rem;

$whiteColor: #ffffff;
$greyColor: #F1F5FF;
$greyLightColor: #D4D4D4;
$blackColor: #000000;
$blueColor: #2F6BFF;
$blueDarkColor: #141933;
$blueLightColor: #505672;
$blueMediumColor: #020336;
$blueBlackColor: #0C0C45;
$blueSkyColor: #9ACEFF;
$accentColor: $blueColor;

$bgSite: $greyColor;

$gradientGreyRadial1: radial-gradient(53.62% 53.62% at 50% 50%, rgba($greyColor, 0) 0%, $greyColor 100%);
$gradientGreyRadial2: radial-gradient(50% 50% at 50% 50%, rgba($greyColor, 0) 60.58%, $greyColor 100%);
$gradientGrey1: linear-gradient(90deg, rgba($greyColor, 0) 50%, $greyColor 100%);
$gradientBlueBlack1: radial-gradient(50% 50% at 50% 50%, rgba($blueMediumColor, 0) 50%, $blueMediumColor 100%);

$fontFamily: $mainFont, Open Sans, sans-serif, Arial;
$fontColor: $blueDarkColor;
$fontWeight: $mainWeight;

$transition: all .4s 0ms;

$xl: 1340px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs + 1;

:root {
  --fs-default: 16rem;
  --fs-1: 64rem;
  --fs-2: 48rem;
  --fs-3: 36rem;
  --fs-4: 24rem;
  --fs-5: 20rem;
  --fs-6: 16rem;
  --fs-7: 14rem;
  --fs-8: 12rem;
  --fs-9: 10rem;
  --fs-10: 96rem;

  --gap: 12rem;
  --gap-: -12rem;
  --gap-fluid: 24rem;
  --gap-fluid-: -24rem;
  --gap-container: var(--gap-fluid);
  --gap-container-: var(--gap-fluid-);

  --radius-sm: 4rem;

  --vr-1: 24rem;
  --vr-2: 56rem;
  --vr-3: 64rem;
  --vr-4: 8rem;
  --vr-5: 128rem;
  --vr-6: 200rem;
  --vr-7: 100rem;
  --vr-8: 44rem;
  --vr-9: 22rem;
  --vr-10: 96rem;
  --vr-11: 48rem;
  --vr-12: 12rem;
  --vr-13: 24rem;
  --vr-14: 72rem;

  --scroll-offset: 0;

  --vr-title: 13rem;
  --vr-subtitle: 123rem;
  --vr-section-y-1: var(--vr-6);
  --vr-section-y-2: var(--vr-7);
  --vr-slider-control: var(--vr-10);

  --header-height: 140rem;
  --site--offset: var(--header-height);

  --vh: 1vh;
  @media (max-width: $lg) {
    --fs-default: 14rem;
    --fs-1: 42rem;
    --fs-2: 34rem;
    --fs-3: 28rem;
    --fs-4: 22rem;
    --fs-5: 18rem;
    --fs-6: 14rem;
    --fs-10: 70rem;

    --gap: 10rem;
    --gap-: -10rem;
    --gap-fluid: 20rem;
    --gap-fluid-: -20rem;

    --vr-1: 16rem;
    --vr-2: 42rem;
    --vr-3: 46rem;
    --vr-4: 6rem;
    --vr-5: 94rem;
    --vr-6: 120rem;
    --vr-7: 60rem;
    --vr-8: 32rem;
    --vr-9: 18rem;
    --vr-10: 78rem;
    --vr-11: 38rem;
    --vr-12: 10rem;
    --vr-13: 18rem;
    --vr-14: 60rem;

    --vr-title: 10rem;
    --vr-subtitle: 90rem;

    --header-height: 90rem;
  }
  @media (max-width: $sm) {
    --fs-default: 14rem;
    --fs-1: 36rem;
    --fs-2: 30rem;
    --fs-3: 24rem;
    --fs-4: 20rem;

    --vr-1: 14rem;
    --vr-2: 36rem;
    --vr-3: 40rem;
    --vr-4: 5rem;
    --vr-5: 80rem;
    --vr-6: 94rem;
    --vr-7: 50rem;
    --vr-8: 28rem;
    --vr-9: 16rem;
    --vr-10: 60rem;
    --vr-11: 34rem;
    --vr-12: 8rem;
    --vr-13: 16rem;
    --vr-14: 50rem;

    --vr-subtitle: 60rem;

    --header-height: 78rem;
  }
}